<div class="tab equipment" data-group="primary" data-tab="equipment">
  <div class="enc-row">
    <div class="enc-section">
      <h3 class="enc-tag">{{localize 'MYTHRAS.Current_ENC'}}:</h3> <span
        class="enc-value">{{data.attributes.encumbrance.value}}</span>
    </div>
    <div class="enc-section">
      <h3 class="enc-tag">{{localize 'MYTHRAS.Normal_Cap'}}: </h3> <span
        class="enc-value">{{data.attributes.encumbrance.burdened}}</span>
    </div>
    <div class="enc-section">
      <h3 class="enc-tag">{{localize 'MYTHRAS.Burdened_Cap'}}:</h3> <span
        class="enc-value">{{data.attributes.encumbrance.overloaded}}</span>
    </div>
    <div class="enc-section">
      <h3 class="enc-tag">{{localize 'MYTHRAS.Overloaded_Cap'}}:</h3> <span
        class="enc-value">{{data.attributes.encumbrance.maxLoad}}</span>
    </div>
  </div>
  <div class="equipment-tables">
    <h2>{{localize 'MYTHRAS.Items'}}</h2>
    <div class="top-equipment-tables">
      <div class="tables-left">
        <div>
          <h3>
            <span>{{localize 'MYTHRAS.Equipment'}}</span><a class="add-items-button item-create" title="Create item"
              data-type="equipment">+</a>
          </h3>
          <table class="equipment-table">
            <thead>
              <th>{{localize 'MYTHRAS.Name'}}</th>
              <th>{{localize 'MYTHRAS.ENC'}}</th>
              <th>{{localize 'MYTHRAS.Quantity'}}</th>
              <th class="delete-column"><i class="fas fa-trash"></i></th>
            </thead>
            <tbody>
              {{#each actor.equipment as |item id|}}
              <tr class="item" data-item-id="{{item.data._id}}">
                <td>
                  <a class="item-name item-control item-edit">{{item.data.name}}</a>
                </td>
                <td>
                  {{item.data.data.encumbrance}}
                </td>
                <td>
                  {{item.data.data.quantity}}
                </td>
                <td>
                  <a class="item-control item-delete delete-column" title="Delete Item"><i class="fas fa-trash"></i></a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      <div class="tables-right">
        <div>
          <h3>
            <span>{{localize 'MYTHRAS.Currency_and_Wealth'}}</span><a class="add-items-button item-create"
              title="Create item" data-type="currency">+</a>
          </h3>
          <table class="currency-table">
            <thead>
              <th>{{localize 'MYTHRAS.Name'}}</th>
              <th>{{localize 'MYTHRAS.Value'}}</th>
              <th>{{localize 'MYTHRAS.ENC'}}</th>
              <th>{{localize 'MYTHRAS.Quantity'}}</th>
              <th class="delete-column"><i class="fas fa-trash"></i></th>
            </thead>
            <tbody>
              {{#each actor.currency as |item id|}}
              <tr class="item" data-item-id="{{item.data._id}}">
                <td>
                  <a class="item-name item-control item-edit">{{item.data.name}}</a>
                </td>
                <td>
                  {{item.data.data.value}}
                </td>
                <td>
                  {{item.data.data.encumbrance}}
                </td>
                <td>
                  {{item.data.data.quantity}}
                </td>
                <td>
                  <a class="item-control item-delete delete-column" title="Delete Item"><i class="fas fa-trash"></i></a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <h2>{{localize 'MYTHRAS.Armor'}}</h2>
    <div>
      <h3>
        <span>{{localize 'MYTHRAS.Armor'}}</span><a class="add-equipment-button item-create" title="Create item"
          data-type="armor">+</a>
      </h3>
      <table class="armor-table">
        <thead>
          <th>{{localize 'MYTHRAS.Name'}}</th>
          <th>{{localize 'MYTHRAS.Location'}}</th>
          <th>{{localize 'MYTHRAS.Equipped'}}</th>
          <th>{{localize 'MYTHRAS.Encumbrance'}}</th>
          <th>{{localize 'MYTHRAS.AP/HP'}}</th>
          <th class="delete-column"><i class="fas fa-trash"></i></th>
        </thead>
        <tbody>
          {{#each actor.armor as |item id|}}
          <tr class="item" data-item-id="{{item.data._id}}">
            <td>
              <a class="item-name item-control item-edit">{{item.data.name}}</a>
            </td>
            <td>
              {{item.data.data.locationName}}
            </td>
            <td>
              <input id="{{id}}_{{item.data._id}}_equipped" type="checkbox" name="item.data.data.equipped" {{checked
                item.data.data.equipped}} />
            </td>
            <td>
              {{item.data.data.encumbrance}}
            </td>
            <td>
              {{item.data.data.ap}} / {{item.data.data.hp}}
            </td>
            <td>
              <a class="item-control item-delete delete-column" title="Delete Item"><i class="fas fa-trash"></i></a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    <h2>{{localize 'MYTHRAS.Weapons'}}</h2>
    <div>
      <h3>
        <span>{{localize 'MYTHRAS.Melee_Weapons'}}</span><a class="add-equipment-button item-create" title="Create item"
          data-type="melee-weapon">+</a>
      </h3>
      <table class="weapons-table">
        <thead>
          <th>{{localize 'MYTHRAS.Name'}}</th>
          <th>{{localize 'MYTHRAS.Damage'}}</th>
          <th>{{localize 'MYTHRAS.DM'}}</th>
          <th>{{localize 'MYTHRAS.Size'}}</th>
          <th>{{localize 'MYTHRAS.Reach'}}</th>
          <th>{{localize 'MYTHRAS.AP/HP'}}</th>
          <th class="delete-column"><i class="fas fa-trash"></i></th>
        </thead>
        <tbody>
          {{#each actor.meleeWeapons as |item id|}}
          <tr class="item" data-item-id="{{item.data._id}}">
            <td>
              <a class="item-name item-control item-edit">{{item.data.name}}</a>
            </td>
            <td>
              <a class="rollableMeleeDamage" data-roll="{{item.data.data.damage}}" data-label="{{item.data._id}}">
                {{item.data.data.damage}}
              </a>
            </td>
            <td>
              <input class="damageModCheck" type="checkbox" name="data.data.damageModifier" {{checked
                data.data.damageModifier}} />
            </td>
            <td>
              {{item.data.data.size}}
            </td>
            <td>
              {{item.data.data.reach}}
            </td>
            <td>
              {{item.data.data.ap}} / {{item.data.data.hp}}
            </td>
            <td>
              <a class="item-control item-delete delete-column" title="Delete Item"><i class="fas fa-trash"></i></a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <hr />
      <h3>
        <span>{{localize 'MYTHRAS.Ranged_Weapons'}}</span><a class="add-equipment-button item-create"
          title="Create item" data-type="ranged-weapon">+</a>
      </h3>
      <table class="weapons-table">
        <thead>
          <th>{{localize 'MYTHRAS.Name'}}</th>
          <th>{{localize 'MYTHRAS.Damage'}}</th>
          <th>{{localize 'MYTHRAS.DM'}}</th>
          <th>{{localize 'MYTHRAS.Force'}}</th>
          <th>{{localize 'MYTHRAS.Impale_Size'}}</th>
          <th>{{localize 'MYTHRAS.Range'}}</th>
          <th>{{localize 'MYTHRAS.Load'}}</th>
          <th>{{localize 'MYTHRAS.Ammo'}}</th>
          <th class="delete-column"><i class="fas fa-trash"></i></th>
        </thead>
        <tbody>
          {{#each actor.rangedWeapons as |item id|}}
          <tr class="item" data-item-id="{{item.data._id}}">
            <td>
              <a class="item-name item-control item-edit">{{item.data.name}}</a>
            </td>
            <td>
              <a class="rollableRangedDamage" data-roll="{{item.data.data.damage}}" data-label="{{item.data._id}}">
                {{item.data.data.damage}}
              </a>
            </td>
            <td>
              <input class="damageModCheck" type="checkbox" name="data.data.damageModifier" {{checked
                data.data.damageModifier}} />
            </td>
            <td>
              {{item.data.data.force}}
            </td>
            <td>
              {{item.data.data.impale-size}}
            </td>
            <td>
              {{item.data.data.range.close}}/{{item.data.data.range.effective}}/{{item.data.data.range.long}}
            </td>
            <th>
              {{item.data.data.load}}
            </th>
            <th>
              {{item.data.data.ammo}}
            </th>
            <td>
              <a class="item-control item-delete delete-column" title="Delete Item"><i class="fas fa-trash"></i></a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>